<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text">&copy; Copyright 2022. All Rights reserved.</h6>
  <div class="navbar-end">
  <a href="https://www.linkedin.com/in/MohammadMusaab" target="_blank">
  <i class="fa-brands fa-lg fa-linkedin"></i></a>
  <a href="https://github.com/lvlusabsk1" target="_blank">
  <i class="fa-brands fa-lg fa-github"></i></a>

  </div>
</nav>