<h1>Watch My Video!<h1>
        <video width="320" height="240" controls loop preload="auto" id="video">
            <source src="Assets/images/mevid.mp4" type="video/mp4" style="width:300; height:300px; border-radius: 25%; position: center;">
        </video>
       <br>
        <img src="Assets/images/projects.png" style="width:300; height:300px; position: center; border-radius: 15%;" alt="project code snipshot">
        <p> previous projects I have worked on include Java script games</p>
        <p>also python projects such as calculators</p>
        <img src="Assets/images/python.jpg" style="width:300; height:300px; position: center; border-radius: 100%;" alt="python code snipshot">
        <p>and much more... <br>I will update this page and add links to my personal projects</p>
